 
 <li class="list-group-item">
    <label ng-hide="$ctrl.todo.$edit">
        <input type="checkbox" ng-model='$ctrl.todo.isComplite'>
        <span ng-bind="$ctrl.todo.title" ng-class='{completed: $ctrl.todo.isComplite}'></span>
    </label>
    <input id="editField" type="text" ng-show="$ctrl.todo.$edit" ng-model="$ctrl.todo.title" ng-blur="$ctrl.save($event, $ctrl.todo)">
    <button type="button" class="btn btn-danger pull-right" ng-click="$ctrl.remItem()" ng-hide="$ctrl.todo.$edit">X</button>
    <button type="button" class="btn btn-info pull-right" ng-click="$ctrl.todo.$edit = true" ng-click="$ctrl.focus($event, '#editField')" ng-hide="$ctrl.todo.$edit">Edit</button>
</li>   
