
 <div class="container">
    <div class="row" >
        <div class="col-md-4"  ng-repeat="widget in $ctrl.todoWidgets track by widget.idWidget" >
            <todo widget='widget'></todo>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-warning" ng-click="$ctrl.addWidget($event)" ng-show="$ctrl.isShowBtn"> add widget </button>
        </div>
    </div>
</div>