

<div class="panel panel-default"  ng-init="$ctrl.init('todo List', $ctrl.widget.listWidget)">
    <div class="panel-heading">
        <h3 class="panel-title" ng-bind="$ctrl.headTitle"></h3>
        <button class="btn btn-warning" ng-click="mc.removeWidget($event, widget.idWidget)" >del</button>
    </div>
    <div class="panel-body">
        <ul class="list-group">

            <todo-item ng-repeat="todo in $ctrl.todos track by todo.id" todo="todo" removeItem="$ctrl.remove(todo.id)" ></todo-item>  

        </ul>
    </div>

    <div class="panel-footer">
        <input type="text" class="form-control" ng-model="$ctrl.title" placeholder="add todo">
        <button class="btn btn-success" ng-click="$ctrl.addTodo()">Add</button>
    </div>
</div>